@import 'variables';

// tablet landscape or small desktop
@media (max-width: $tabletLand) {
  .wrapper {
    width: 95%;
  }
}

// tablet portait view
@media (max-width: $tabletPort) {
  // HEADER
  header {
    h1 {
      font-size: 2.25rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  // GRID SETUP
  .grid {
    grid-template-columns: repeat(9, 1fr);
  }

  // ISLAND LOCATIONS
  .contactIsland {
    grid-column: 1 / span 3;
  }
  .projectsIsland {
    grid-column: span 3 / -1;
    grid-row: 2 / span 3;
  }
}

// phone landscape view
@media (max-width: $phoneLand) {
  // HEADER FONT
  header {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.75rem;
    }
  }

  // BUTTON LOCATIONS
  .aboutButton::after {
    left: -10px;
    top: -10px;
  }
  .contactButton::after {
    right: 0;
    top: -20px;
  }

  // MODAL PADDING
  // .modal {
  //   padding: 25px;
  // }
}

// phone portait view
@media (max-width: $phonePort) {
  // HEADER LAYOUT
  header {
    position: static; // TBD??
    .flex {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // GRID SETUP
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }

  // ISLAND LOCATIONS
  .contactIsland {
    grid-column: auto / span 6;
    grid-row: span 6;
    order: 6;
  }
  .projectsIsland {
    grid-column: span 6 / auto;
    grid-row: auto / span 6;
    order: 5;
  }
}