// colours
$Background: #8E9775;
$LightWood: #565D47;
$DarkWood: #4A503D;
$Water: #5F939A;
$Shallow: #87A7B3;
$Mountain: #BBBBBB;
$Walls: #C8C2BC;
$Danger: #E6D5B8;
$Roofs: #CC9B6D;
$Flags: #F33535;

// fonts
$raleway: 'Raleway', sans-serif;
// wieghts: 200, 300, 400, 700, 900
$bitter: 'Bitter', serif;
// wieghts: 200, 300, 400, 500

// responsive display break points
$hugeScreen: 1800px;
$tabletLand: 1200px;
$tabletPort: 900px;
$phoneLand: 750px; // perhaps not necessary?
$phonePort: 600px;
// should be good down to 320px