// IMPORTS
@import 'setup';

// fonts
$raleway: 'Raleway', sans-serif;
// wieghts: 200, 300, 400, 700, 900
$bitter: 'Bitter', serif;
// wieghts: 200, 300, 400, 500

// GENERAL STYLES
body {
  cursor: default;
  font-size: 125%;
  position: relative;
}

h1, h2, button {
  font-family: $raleway;
  margin: 0;
}

h3, a, p {
  font-family: $bitter;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  a {
    font-family: $raleway;
  }
}

h3 {
  font-size: 1.25rem;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 200;
}

// NAV
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  button {
    border: none;
    padding: 0.5rem 0;
  }
  ul {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    &.show {
      height: 234px;
    }
  }
  .contact {
    text-align: right;
    .contactList {
      align-items: end;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      a {
        font-family: $raleway;
      }
    }
  }
}

// HEADER
header {
  align-items: start;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 51px);
  justify-content: center;
  padding: 0 2rem;
  width: 100%;
}

header h1 {
  display: flex;
  flex-direction: column;
  span {
    line-height: 0.85;
  }
}

// SECTIONS
section {
  align-items: start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 2rem;
  width: 100%;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0.25rem 0;
  }
}

section.portfolio * {
  margin-bottom: 1rem;
}

section.skills {
  ul {
    justify-content: start;
  }
}

// FOOTER
footer .wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  width: 100%;
  a {
    font-size: 1rem;
  }
}

@import 'colours';
@import 'mediaQueries';
