// IMPORTS
@import 'setup';
@import 'variables';

// GENERAL STYLES
body {
  background-color: $Water;
  cursor: default;
  font-size: 125%;
}

h1, h2, button {
  font-family: $raleway;
  margin: 0;
}

h3, a, p {
  color: black;
  font-family: $bitter;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  color: darkblue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a,
button {
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 80%;
}

// HEADER
header {
  align-items: start;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

header h1 {
  display: flex;
  flex-direction: column;
  span {
    line-height: 0.85;
  }
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

.light {
  font-weight: 200;
}

// SECTIONS
section {
  align-items: start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 2rem;
  width: 100%;
  &:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.15);
  }
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0.25rem 0;
  }
}

section.skills {
  ul {
    justify-content: start;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// FOOTER
footer {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  width: 100%;
  a {
    font-size: 1rem;
  }
}
