html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underlinedotted;
          text-decoration: underlinedotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1pxdottedButtonText;
}

fieldset {
  padding: 0.35em0 0.75em0 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header, footer, h1, h2, a, button {
  font-family: "Raleway", sans-serif;
  text-transform: lowercase;
}

h3, p, p a {
  font-family: "Bitter", serif;
  text-transform: none;
}

body {
  cursor: default;
  font-size: 125%;
  position: relative;
}

footer, h1, h2, h3, p, ul, a, button {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a, button, .link {
  cursor: pointer;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 200;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
}
header button {
  border: none;
  padding: 0.5rem 0;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
header ul.show {
  height: 273px;
}
header .contact {
  text-align: right;
}
header .contact .contactList {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  width: 100%;
}
section h2 {
  margin-bottom: 1rem;
}
section p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0.25rem 0;
}
section li {
  font-size: 1.1rem;
}

.link {
  text-decoration: underline;
}

section.hero {
  height: calc(100vh - 51px);
}
section.hero h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.hero h1 span {
  line-height: 0.85;
}

section.portfolio p,
section.portfolio li {
  margin: 1rem 0;
}

section.resume img {
  max-width: 300px;
}

section.media li {
  margin: 1rem 0;
}
section.media li a {
  text-transform: none;
}
section.media li p {
  font-style: italic;
}

footer {
  font-size: 0.9rem;
  padding: 1rem 0;
  text-align: center;
}

body {
  background-color: #FFFBE9;
  color: #232d03;
}

section:nth-child(odd) {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFBE9), color-stop(10%, rgba(215, 220, 196, 0.25)), to(#FFFBE9));
  background: linear-gradient(#FFFBE9, rgba(215, 220, 196, 0.25) 10% 90%, #FFFBE9);
}

header,
footer {
  background-color: rgba(204, 214, 166, 0.9);
}

a,
.link {
  color: #49532a;
}
a:visited,
.link:visited {
  color: #727c51;
}
a:focus, a:hover,
.link:focus,
.link:hover {
  color: #9ea87a;
}

button {
  color: #49532a;
  background-color: transparent;
}
button:focus, button:hover {
  color: #9ea87a;
}

@media (min-width: 600px) {
  section p,
  section li {
    margin: 0.5rem 0;
  }
  section.skills ul {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
  section.skills ul p {
    margin: 0;
  }
}
@media (min-width: 750px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1920px;
    width: 66%;
  }
  section p {
    margin: 0.75rem 0;
  }
  section.skills ul {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    width: 55%;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  section p,
  section li {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  section.media p {
    font-style: italic;
    margin-top: 0.5rem;
  }
}